<div class="container" id="home-container">
  <div class="bg-light p-5 rounded m-3 text-center text-white">
    <h1 class="display-4">Motor Blog</h1>
    <p class="lead">This is a blog, created for study purposes.</p>
    <hr class="my-4">
    <p>It uses front-end, back-end etc.</p>
    <p>Make use of visitor, logged in user and admin functionality</p>
    <p>Associations, one-to-many, many-to-many.</p>
    <p>Front-end implementation and styling with Bootstrap 5.0.</p>
    <p>Back-end implementation, REST and test code.</p>
    <p>Git, Github, local dev and production (Heroku)</p>
    <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
  </div>
